body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
#toggle {
  position: relative;
  width: 150px;
  height: 60px;
  border-radius: 60px;
  cursor: pointer;
  display: block;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.5),
              inset 0px -5px 15px rgba(255, 255, 255, 0.4);
}
#toggle .bi-cloud-sun-fill{
  position: absolute;
  background: linear-gradient(180deg,#87ceeb,#448ee4);
  font-size: 48px;
  color: #ddcb25;
  border-radius: 50%;
}
#toggle .bi-cloud-moon-fill{
  position: absolute;
  background: linear-gradient(180deg,#777,#3a3a3a);
  font-size: 48px;
  color: #ebebeb;
  border-radius: 50%;
}
#toggle i:last-child {
  left: 3px;
  top: 2px;
  width: 56px;
  height: 56px;
  text-align: center;  
}
input {
  visibility: hidden;
}
#toggle i:active{
  width: 50px;
  transition: 0.4s;
}
input:not(:checked) + #toggle i:last-child {
  transform: translateX(88px);
}